body  {
    margin-right:auto;
    margin-left: auto;
    max-width: 700px;
    padding-right: 15px;
    padding-left: 15px;
}/*Style of the body */
head{font-family:"Verdana",sans-serif;font-size:38px;font-style:normal;font-weight:normal;color:#000000;text-align:center;background-color:#C8A2C8;}

h1{font-family:"Verdana",sans-serif;font-size:20px;font-style:normal;font-weight:normal; color:#000000;text-align:center;background-color:#C8A2C8;}

h2{font-family:"Verdana",sans-serif;font-size:20px;font-style:normal;font-weight:bold;color:#000000; text-align:center; background-color:#C8A2C8;}

p {font-family:"Verdana",sans-serif;font-size:20px;font-style:normal;font-weight:normal;color:#000000; text-align: center; background-color:#C8A2C8;}

h3 {font-family:"Verdana",sans-serif;font-size:20px;font-style:normal;font-weight:normal;color:#000000; text-align: center; background-color:#C8A2C8;}

nav{font-family:"Verdana",sans-serif;font-size:18px;font-style:normal;font-weight:normal;color:#000000;text-align:center;background-color:#C8A2C8;}


img {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 45%
}

</style>
</head>

<div class="topnav">
  <a href="#">"music.html"</a>
  <a href="#">"index.html"</a>
  <a href="#">"news.html"</a>
</div>

<div class="footer">
  Welcome to the BeyHive!
</div>